body {
    background: rgb(222, 218, 218);
}

.vermelho {
    color: red;
}

.center {
    text-align: center;
}

.fonte-30 {
    font-size:  30px;
}

#teste {
    color: blue;
    background: yellow;
}