* {
  box-sizing: border-box;
}
/*
.flex-pai {
  background: rgb(93, 247, 5);
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media screen and (max-width:600px) {
  .flex-pai {
    flex-direction: column;
  }
}

.flex-pai div {
  background: white;
  border: 1px solid black;
  margin: 5px;
  padding: 30px;
  text-align: center;
}
*/

body {
  margin: 0;
}

.header {
  background: goldenrod;
  padding: 80px;
  text-align: center;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  background: black;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background: green;
  color: black;
  font-weight: bold;
}

.corpo {
  display: flex;
  flex-flow: row wrap;
}

.card {
  flex: 48%;
  background: #ccc;
  height: 100px;
  margin: 1%;
}

@media screen and (max-width:700px) {
  .navbar {
    flex-direction: column;
  }
}
